@import url('https://fonts.googleapis.com/css?family=Philosopher:400,400i&subset=cyrillic');
body{
  background: #dcd9ac; 
  font-size: 14px;
  font-family: 'Philosopher', sans-serif;
  color: #624e18;
  height: auto;
}
p{
  font-style: italic;
}
a{
  text-decoration: none;
  color: #624e18;
}
a:hover{
  color: #A33410;
}
main{
  margin-left:23%;
  margin-right:25%;
  display:flex;
}
h2{
  color: #A33410;
}
nav{
  /* background: black;
  background-image: url(../images/topbg.jpg); */
  height: 25px;
  color:white;
  text-align: center;
  padding-top:5px;
}
nav a {
  color:white;
  text-transform: uppercase; 
  text-decoration: none;
  font-size: 14px;
}

nav a:hover {
  color: #C9D051;
}
/* banner logo */
.banner{
  height: 316px;
  background-image: url(../images/bg.jpg);
}
.banner-logo{
  background-image: url(../images/banner.jpg);
  background-repeat: no-repeat;
  height: 316px;
  margin-left: 30%;
}
.banner-logo img{
  position: relative;
  left: 200px;
}


article{
  /* width: 300px; */
  margin-right: 30px;
}
article li{
  list-style-image: url(../images/disc1.jpg);
  font-size: 16px;

}
article li:hover{
  margin-left: 4px;
  font-size: 18px;
  font-weight: bold;
}

/* accorion */
.ac-container{
  width: 215px;
}
.ac-container input{
  display: none;
}
.ac-container label{
  background:#A33410;
  color:#e4e4de;
  font-weight: bold;
  padding: 3px 12px;
  position: relative;
  z-index: 2;
  display: block;
  cursor: pointer;
}
.ac-container label:hover{
  color:#fff;
}
.ac-container input:checked + label{
  color:#fff;
  background-color:#624e18;
}
.ac-container article{
  margin-top: -1px;
  overflow: hidden;
  height: 0px;
  position: relative;
  z-index: 1;
  transition:  height 0.3s ease-in-out;
 }

 .ac-container input:checked ~ article{
  transition: height 0.5s ease-in-out;
  height: 140px;
 }
 article p{
   padding-left: 30px;
 }
 .rst{
  color: #e4e4de;
  border: 1px solid #624e18;
  background-color: #624e18;
  font-weight: bold;
  border-radius: 30px;
  margin: 16px 0;
  width: 120px;
  cursor: pointer;
  margin-left: 44%;

 }
 .rst::before{
   content: '⟳';
   margin-right: 12px;
 }

 .rst:hover{
   background-color: #A33410;
   color: #fff;
 }
 .rst:focus{
   outline: none;
 }

/* content */
.content{
  margin-top: 50px;
  border-left: 1px solid black;
  padding-left: 20px;
}

.content>div {
  border-bottom: 1px dashed; 
}
.content>div:last-child{
  border-bottom: none;
}
/* 2 block */
.two{
  display: flex;
}
.portfolio-image{
  border: 3px ridge #c7ba6f; 
  overflow: hidden;
  width: 107px;
  height: 83px;
}
.two img{
 
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}
.two img:hover{
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
}
figure{
  text-align: center;
}
figure a{
  font-weight: bold;
}

/* three */
.three{
  display: flex;
  justify-content:space-around;
}
.three ul{
  flex:2;
}
.three li{
  font-size: 16px;
  font-weight: bold;
  list-style-image: url(../images/disc2.jpg);
  margin: 3px 0;
}
/* f */
footer{
  background-image: url(../images/footerbg1.jpg);
  height: 278px;
  padding-top: 5px;
}
.fbanner{
  background-image: url(../images/footer.jpg);
  background-repeat: no-repeat;
  height: 30px;
  margin: 0 30%;
  padding-top: 248px;
  text-align: center;
}
.fbanner span{
  color:white;
  font-weight: bold;
  font-size: 14px;
}
.fbanner span a{
  color:white;
  font-weight: bold;
}
/*  адапитрование */
@media (max-width:960px){
  
}